<div class="mobile-menu__title">
    Navigation
</div>

<ul class="mobile-menu__items">
  <li><a href="#">Forsiden</a></li>
  <li><a href="#">Underside</a></li>
  <li><a href="#">Underside med punkter <span class="mobile-menu__items__counter">5</span> <span class="mobile-menu__items__arrow"><svg viewBox="0 0 23 43"><path d="M.44,40.44a1.5,1.5,0,0,0,2.12,2.12l20-20a1.49,1.49,0,0,0,0-2.12l-20-20A1.5,1.5,0,0,0,.44,2.56l19,19Z"/></svg></span></a></li>
  <li><a href="#">Underside uden punkter</a></li>
</ul>
