/deep/ ngx-mobile-menu {
  height: 100%;
  width: 300px;
  max-width: 100%;
  background: white;
  display: block;
  box-sizing: border-box;

  padding-top: 30px;
  padding-bottom: 30px;

  * {
    box-sizing: border-box;
  }
}
